In [78]:
import pandas as pd
import pytest
from sqlalchemy import create_engine

In [87]:
#def test_aggregated_summary_level():
# extract data from source
df_src = pd.read_csv("data.csv",sep=",")
print(df_src)
# transform source

df_src['emp_no'].notnull().all()

     SYMBOL \n    OPEN \n    HIGH \n     LOW \n PREV. CLOSE \n     LTP \n  \
0     NIFTY 50  22,963.65  22,992.50  22,801.50      22,959.50  22,945.30
1         NTPC     301.15     312.40     297.50         302.35     312.00
2        TECHM   1,668.00   1,708.95   1,664.05       1,664.95   1,701.00
3        WIPRO     305.35     312.75     305.35         305.35     311.50
4         ONGC     232.20     237.15     229.55         233.65     236.00
5   APOLLOHOSP   6,320.00   6,390.00   6,320.00       6,300.20   6,358.00
6    POWERGRID     263.85     267.90     260.20         263.20     265.55
7      HCLTECH   1,706.00   1,728.50   1,701.25       1,709.90   1,725.00
8    KOTAKBANK   1,942.05   1,966.00   1,939.15       1,945.30   1,962.25
9        CIPLA   1,474.65   1,483.85   1,466.10       1,474.65   1,482.00
10    HDFCBANK   1,713.05   1,731.55   1,706.15       1,717.35   1,723.00
11        INFY   1,842.30   1,861.65   1,837.60       1,842.30   1,848.00
12  BAJFINANCE   8,430.00   8,480.00   8,360.70       8,426.60   8,450.00
13  TATACONSUM   1,019.10   1,027.95   1,018.55       1,023.25   1,025.45
14    JSWSTEEL     975.00     981.20     962.80         973.55     975.60
15  SHRIRAMFIN     550.95     554.45     539.10         550.35     551.50
16    AXISBANK     992.95     997.35     986.55         992.95     994.90
17      MARUTI  12,764.95  12,884.95  12,735.15      12,762.90  12,778.00
18  ADANIPORTS   1,082.90   1,087.90   1,061.95       1,082.90   1,083.50
19   COALINDIA     360.25     362.35     353.80         360.10     360.00
20        BPCL     252.25     253.55     246.85         252.30     252.20
21   NESTLEIND   2,216.50   2,229.50   2,199.95       2,216.50   2,215.55
22          LT   3,227.00   3,241.00   3,183.00       3,221.85   3,220.00
23    RELIANCE   1,224.85   1,229.90   1,216.10       1,224.90   1,223.95
24     SBILIFE   1,476.25   1,481.00   1,454.40       1,476.20   1,475.00
25     DRREDDY   1,198.95   1,204.95   1,182.00       1,198.95   1,197.95
26   TATASTEEL     134.29     134.90     131.75         134.29     134.16
27  BAJAJFINSV   1,892.00   1,913.80   1,880.80       1,894.85   1,889.20
28        SBIN     727.70     728.25     717.35         727.70     725.50
29    HINDALCO     609.00     613.70     601.70         610.85     609.00
30  BHARTIARTL   1,692.00   1,695.95   1,655.80       1,675.55   1,669.50
31   EICHERMOT   4,769.00   4,772.50   4,684.45       4,745.20   4,726.00
32       TITAN   3,234.80   3,244.00   3,192.30       3,233.20   3,219.00
33    ADANIENT   2,240.00   2,240.00   2,166.05       2,223.70   2,213.05
34  TATAMOTORS     686.60     687.95     672.15         686.60     682.50
35   ICICIBANK   1,252.90   1,257.60   1,237.05       1,251.15   1,242.55
36    HDFCLIFE     624.00     626.00     611.35         623.25     618.70
37      GRASIM   2,480.00   2,482.95   2,412.80       2,463.85   2,445.05
38         TCS   3,898.40   3,924.40   3,864.50       3,904.50   3,873.00
39  ASIANPAINT   2,248.00   2,251.95   2,218.75       2,250.85   2,232.65
40  HEROMOTOCO   3,880.00   3,891.90   3,810.00       3,876.45   3,845.00
41   SUNPHARMA   1,714.20   1,729.75   1,698.40       1,714.20   1,699.95
42         ITC     408.00     410.85     404.00         408.60     404.90
43  BAJAJ-AUTO   8,510.10   8,550.00   8,390.45       8,537.15   8,445.80
44  HINDUNILVR   2,329.40   2,338.55   2,288.00       2,329.40   2,297.50
45   BRITANNIA   4,963.70   4,967.05   4,859.40       4,963.70   4,880.00
46         M&M   2,844.00   2,845.00   2,755.90       2,831.95   2,780.95
47  ULTRACEMCO  11,450.00  11,460.60  11,251.00      11,490.10  11,283.05
48         BEL     249.00     249.75     240.55         248.50     243.80
49       TRENT   5,100.00   5,119.45   4,928.25       5,096.45   4,986.00
50  INDUSINDBK   1,045.00   1,051.50   1,021.35       1,048.25   1,022.10

   INDICATIVE CLOSE \n  CHNG \n  %CHNG \n VOLUME \n(shares)  \
0                    -   -14.20     -0.06      21,06,16,641
1                    -     9.65      3.19       1,57,93,327
2                    -    36.05      2.17         26,54,132
3                    -     6.15      2.01       1,03,68,789
4                    -     2.35      1.01         61,70,974
5                    -    57.80      0.92          2,20,118
6                    -     2.35      0.89       1,04,83,635
7                    -    15.10      0.88         15,11,900
8                    -    16.95      0.87         43,44,125
9                    -     7.35      0.50          9,67,394
10                   -     5.65      0.33         81,75,455
11                   -     5.70      0.31         43,65,260
12                   -    23.40      0.28          8,68,977
13                   -     2.20      0.22          7,89,808
14                   -     2.05      0.21         18,00,070
15                   -     1.15      0.21         29,88,732
16                   -     1.95      0.20         30,90,004
17                   -    15.10      0.12          2,67,936
18                   -     0.60      0.06         17,15,308
19                   -    -0.10     -0.03         38,43,725
20                   -    -0.10     -0.04         55,34,272
21                   -    -0.95     -0.04          4,53,059
22                   -    -1.85     -0.06         24,28,215
23                   -    -0.95     -0.08         66,73,250
24                   -    -1.20     -0.08          6,79,042
25                   -    -1.00     -0.08         17,13,792
26                   -    -0.13     -0.10       2,39,57,576
27                   -    -5.65     -0.30         21,16,513
28                   -    -2.20     -0.30         85,62,003
29                   -    -1.85     -0.30         29,56,837
30                   -    -6.05     -0.36         75,29,598
31                   -   -19.20     -0.40          2,54,026
32                   -   -14.20     -0.44          5,92,636
33                   -   -10.65     -0.48         11,38,090
34                   -    -4.10     -0.60         78,10,143
35                   -    -8.60     -0.69         81,35,042
36                   -    -4.55     -0.73         18,87,686
37                   -   -18.80     -0.76          5,96,040
38                   -   -31.50     -0.81         21,49,879
39                   -   -18.20     -0.81          7,35,853
40                   -   -31.45     -0.81          4,82,022
41                   -   -14.25     -0.83         21,63,972
42                   -    -3.70     -0.91       1,29,98,403
43                   -   -91.35     -1.07          2,06,278
44                   -   -31.90     -1.37         10,35,705
45                   -   -83.70     -1.69          3,14,196
46                   -   -51.00     -1.80         23,01,836
47                   -  -207.05     -1.80          2,68,795
48                   -    -4.70     -1.89       2,11,80,375
49                   -  -110.45     -2.17          7,21,122
50                   -   -26.15     -2.49         26,20,716

   VALUE \n (â‚¹ Crores)   52W H \n   52W L \n  30 D   %CHNG \n  \
0            19,431.22  26,277.35  21,281.45            -1.05
1               484.32     448.45     292.80            -7.30
2               448.73   1,807.70   1,162.95             0.28
3               320.60     324.60     208.50             8.30
4               144.51     345.00     223.00           -12.35
5               140.12   7,545.35   5,693.20            -7.73
6               277.31     366.25     252.20           -13.02
7               259.93   2,012.20   1,235.00            -4.42
8               848.95   1,992.80   1,543.85            10.62
9               142.75   1,702.05   1,317.25             2.24
10            1,407.06   1,880.00   1,397.30             4.92
11              807.05   2,006.45   1,358.35             1.48
12              733.06   8,662.80   6,187.80            17.33
13               80.88   1,256.44     882.90             7.21
14              175.25   1,063.00     761.75             7.15
15              163.80     730.45     438.60             4.53
16              306.78   1,339.65     933.50             0.19
17              342.65  13,680.00  10,725.00             5.16
18              184.52   1,621.40     995.65            -6.93
19              137.57     543.55     349.25            -7.11
20              138.78     376.00     242.20            -7.79
21              100.22   2,778.00   2,131.25            -0.03
22              780.40   3,963.50   3,175.05            -9.72
23              816.77   1,608.80   1,193.35            -5.95
24               99.97   1,936.00   1,307.70            -4.17
25              204.72   1,421.49   1,120.00            -8.44
26              319.35     184.60     122.62             3.08
27              402.30   2,029.90   1,419.05            12.75
28              619.67     912.00     711.55            -4.76
29              179.84     772.65     499.00            -1.00
30            1,256.62   1,779.00   1,097.65             2.95
31              119.75   5,575.50   3,672.00            -5.33
32              190.59   3,867.00   3,055.65            -3.70
33              250.30   3,743.90   2,025.00            -7.34
34              530.17   1,179.00     667.05           -11.95
35            1,010.67   1,362.35   1,023.35             2.10
36              116.29     761.20     511.40            -2.95
37              145.47   2,877.75   2,102.20             3.70
38              836.66   4,592.25   3,591.50            -5.33
39              164.24   3,394.90   2,185.70            -0.45
40              184.98   6,246.25   3,757.65            -5.41
41              369.52   1,960.35   1,377.20            -4.05
42              528.41     528.50     399.35            -7.18
43              174.12  12,774.00   7,890.00            -0.52
44              238.72   3,035.00   2,172.05            -1.05
45              154.38   6,469.90   4,641.00             2.25
46              642.14   3,270.95   1,788.80            -2.93
47              304.22  12,145.35   9,250.00             8.60
48              516.08     340.50     179.10           -11.93
49              359.77   8,345.00   3,750.25           -18.02
50              270.20   1,576.35     923.70             7.96

    365 D % CHNG \n 16-Feb-2024
0                          4.17
1                        -10.48
2                         27.82
3                        -43.77
4                        -14.94
5                         -4.55
6                         -4.13
7                          2.55
8                         12.10
9                          2.36
10                        20.95
11                         8.27
12                        27.31
13                       -10.82
14                        18.73
15                       -77.53
16                        -7.09
17                        12.15
18                       -17.14
19                       -24.98
20                       -61.46
21                       -10.90
22                        -4.87
23                       -58.07
24                        -2.14
25                       -81.02
26                        -5.63
27                        20.24
28                        -3.58
29                        18.45
30                        49.60
31                        20.78
32                       -11.55
33                       -31.02
34                       -26.85
35                        22.27
36                         5.20
37                        17.01
38                        -5.42
39                       -25.17
40                       -20.80
41                        13.53
42                         0.99
43                         2.55
44                        -1.93
45                         1.02
46                        54.28
47                        15.87
48                        31.97
49                        26.63
50                       -29.82

KeyError: 'emp_no'

In [80]:
df_src['Salary'].notnull().all()

False

In [81]:
df_src.duplicated(subset=['emp_no'])

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
dtype: bool

In [82]:
    df_src[df_src.duplicated(subset=['emp_no'])]
    df_src_duplicate = df_src[df_src.duplicated(subset=['emp_no'])]

In [83]:
assert df_src_duplicate.empty,"duplicate exists"

In [84]:
df_src['Salary'] == 1000

0     True
1     True
2    False
3     True
4     True
5    False
6    False
7    False
8    False
Name: Salary, dtype: bool

In [85]:
df_src[df_src['Salary'] == 1000]

   emp_no     emp_name dept_name  Salary
0       1         Adam        IT  1000.0
1      11         Adam        IT  1000.0
3       3  Christopher   Finance  1000.0
4       4  Christopher   Finance  1000.0

In [86]:
assert df_src[df_src['Salary'] == 1000].empty , "1000 salary exixts"

AssertionError: 1000 salary exixts

In [ ]:
# extract data from target
df_tgt = pd.read_excel("Employee.xlsx")

#compare both data frame
assert df_tgt.equals(df_src),"Dats mismatch in both table"