In [68]:
import pandas as pd
import pytest
from sqlalchemy import create_engine

In [69]:
#def test_aggregated_summary_level():
# extract data from source
df_src = pd.read_csv("Employee1.csv",sep=",")
print(df_src)
# transform source

df_src['emp_no'].notnull().all()

   emp_no     emp_name dept_name  Salary
0       1         Adam        IT  1000.0
1      11         Adam        IT  1000.0
2       2        Peter       NaN  4000.0
3       3  Christopher   Finance  1000.0
4       4  Christopher   Finance  1000.0
5      14         Alan     Sales     NaN
6       5       Mayank        HR  4000.0
7       6       Rakesh     Sales  4000.0
8       7       Mathew   Finance  4000.0

True

In [70]:
df_src['Salary'].notnull().all()

False

In [71]:
df_src.duplicated(subset=['emp_no'])

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
dtype: bool

In [72]:
    df_src[df_src.duplicated(subset=['emp_no'])]
    df_src_duplicate = df_src[df_src.duplicated(subset=['emp_no'])]

In [73]:
assert df_src_duplicate.empty,"duplicate exists"

In [74]:
df_src['Salary'] == 1000

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
Name: Salary, dtype: bool

In [75]:
df_src[df_src['Salary'] == 1000]

Empty DataFrame
Columns: [emp_no, emp_name, dept_name, Salary]
Index: []

In [76]:
assert df_src[df_src['Salary'] == 1000].empty , "1000 salary exixts"

In [77]:
# extract data from target
df_tgt = pd.read_excel("Employee.xlsx")

#compare both data frame
assert df_tgt.equals(df_src),"Dats mismatch in both table"

AssertionError: Dats mismatcu in both table